body {
    color: white;
    background: black;
}.categoria-videos {
    display: flex;
  }.categoria-videos {
    display: flex;
    overflow-x: auto;
  }
  
    display flex;
    overflow-x auto
    gap 
  categoria-videos {
    display: flex;
    overflow-x: auto;
    gap: 10px;
  }
  
  section {
    padding-left: 20px;
    padding-right: 20px;
  }section 
    background: rgb(184, 156, 213);
    padding-bottom: 80px;
    padding-top: 80px;
    displa.categoria-videos img {
        opacity: 0.5;
        height: 200px
    }
    
    .categoria-videos img:hover {
        opacity: 1.0;
    }